table.agenda {
    border: 1px solid $color-nhc-green;
    thead {
        th {
            text-align: left;
            padding: 10px;
            color: white;
            background: $color-nhc-green;            
        }
    }
    
    tbody {
        tr {
            td {
                padding: 10px;
                padding-right: 20px;
                text-align: left;
            }
            &:nth-child(even) {
                td {
                    background: $color-grey;
                }
            }
        }
    }
}